body{
    background: #d5cbcb;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}



.center{
    text-align: center;
    margin: auto;
}

p{
    font-size: 17px;
}

.h2{
    margin: 10px;
    font-size: 35px;
    color: #32325d;
}
.a{
    text-decoration: none;
    color: white;
    background-color: darkcyan;
    padding: 4px 10px;
    border-radius: 3px;
}

form{
    margin-bottom: 20px;
}

.StripeElement{
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid darkblue;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    height: 25px;
    width: 97%;
    margin-top: 10px;
    outline: none;
    font-size: 20px;
}


.StripeElement--focus{
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid{
    border-color: #fa755a;
}

.StripeElement--webkit-autofill{
    background-color: #fefde5 !important;
}

.submit-btn{
    display: block;
    background-color: darkblue;
    width: 100%;
    color: white;
    padding:5px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
    background-color: black;
    color: wheat;
    
}

tbody tr:hover{

 color: yellowgreen;   
 cursor: pointer; 
}

.h2-table{
    color: black;
    font-size: 50px;
}

th{
    border: 1px solid wheat;
    height: 40px;
}
td{
    border: 1px solid wheat;
    padding: 10px;
}

.index-a{
    background-color: black;
}
.index-a:hover{
    
    border-bottom: 4px solid yellowgreen;
}